.body {
    width: 100%;
}
.body {
    display: flex;
}
.col-md-4 {
    width: 50%;
    max-width: 50%;
    flex: 0 0 100%;
}
.col-me-8.p-2 {
    width: 50%;
    max-width: 471px;
}
.pointer {
    cursor: pointer;
}
@media (max-width:990px) {
    .body {
        display: block;
    }
    .col-md-4 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .col-me-8.p-2 {
        width: 100%;
        max-width: 100%;
    }
    .container {
        max-width: 540px;
    }
}